.total {
    text-align: right;
    font-size: smaller;
}

#nome, #nomeMaterno, #nomePaterno {
    width: 65%;
}

#btnCombinar {
    width: 100%;
}

#grpNomes, #grpNomesMaternos, #grpNomesPaternos {
    width: 100%;
    text-wrap: none;
}

#nomes, #nomesMaternos, #nomesPaternos, #nomesGerados {
    width: 100%;
    height: 3em;
}